[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "resourcecode"]
	path = resourcecode
	url = https://github.com/resourcecode-project/r-resourcecode
